   <!--===Divider===-->
   <hr class="sidebar-divider my-0">
   <br>
    <!--MENU GENERAL-->
     <div class="center">
      <button onclick="window.location.href='menu-principal.html'" class="btn-focus red-button shadow-hover button-tamaño border-0 border-radius" id="miBoton"><img src="../img/icons/General.png" class=""
        width="50%"
        height="40%"><br>General</button> 
    </div><br>

    <!--MENU CONSULTAS-->
    <div class="center">
      <button onclick="window.location.href='menu-consulta.html'" class="btn-focus shadow-hover button-tamaño border-0 border-radius" id="miBoton"><img src="../img/icons/Consultar.png" class=""
        width="50%"
        height="55%"><br>Consultar</button> 
    </div><br>

    <!--ESTADISTICA-->
    <div class="center">
      <button onclick="window.location.href='#'" class="btn-focus shadow-hover button-tamaño border-0 border-radius" id="miBoton"><img src="../img/icons/Estadisticas.png" class=""
        width="40%"
        height="40%"><br>Estadistica</button> 
    </div>


<!-- Sidebar -->
 
    <!--===Sidebar - Brand===-->
<!--<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fa fa-motorcycle"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Lubo Go <sup></sup></div>
</a>-->

    <!--===Divider===-->
<!--<hr class="sidebar-divider my-0">-->

    <!--===Nav Item - Dashboard===-->
<!--<li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fa fa-motorcycle"></i>
        <span>Inicio</span></a>
</li>-->

    <!--===Divider===-->
<!--<hr class="sidebar-divider">

    <div class="sidebar-heading">
      Reportes
    </div>
-->  

    <!-- Nav Item - Listar Reportes -->    
<!--   <li class="nav-item">
      <a class="nav-link" href="reporte-ordenes.html">
        <i class="fa fa-th-list"></i>
        <span>Ordenes</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="reporte-usuarios.html">
        <i class="fa fa-users"></i>
        <span>Num. Usuarios</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mapa-repartidores.html">
        <i class="fa fa-map"></i>
        <span>Map Repartidores</span></a>
    </li>
--> 
    <!-- Nav Item - Agregar Establecimiento -->
    <!-- Divider -->
<!--<hr class="sidebar-divider">-->
    <!-- Heading -->
<!--<div class="sidebar-heading">
      Establecimientos
    </div>
-->    
    <!-- Nav Item - Listar Establecimientos -->    
<!-- <li class="nav-item">
      <a class="nav-link" href="listar-estab.html">
        <i class="fa fa-th-list"></i>
        <span>Listar Establecimientos</span></a>
    </li>
-->   
    <!-- Nav Item - Agregar Establecimiento -->
<!-- <li class="nav-item">
      <a class="nav-link" href="agregar-estab.html">
        <i class="fas fa-building"></i>
        <span>Agregar Establecimientos</span></a>
    </li>
-->   
     <!-- Nav Item - Listar Establecimientos -->    
<!-- <li class="nav-item">
      <a class="nav-link" href="listar-admin.html">
        <i class="fas fa-th-list"></i>
        <span>Listar Admin Estab</span></a>
    </li>
-->    
    <!-- Nav Item - Agregar Establecimiento -->
<!--<li class="nav-item">
      <a class="nav-link" href="agregar-admin.html">
        <i class="fa fa-address-card"></i>
        <span>Agregar Admin Estab</span></a>
    </li>
-->    
    <!-- Divider -->
<!--<hr class="sidebar-divider">-->

    <!-- Heading -->
<!--<div class="sidebar-heading">
      Repartidores
    </div>

    <li class="nav-item">
      <a class="nav-link" href="listar-repartidores.html">
        <i class="fas fa-th-list"></i>
        <span>Listar Repartidores</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="agregar-repartidores.html">
        <i class="fa fa-motorcycle"></i>
        <span>Agregar Repartidores</span></a>
    </li>
-->    
    <!-- Divider -->
<!--<hr class="sidebar-divider">-->   

    <!-- Heading -->
<!--<div class="sidebar-heading">
      Categorias
    </div>
    <li class="nav-item">
      <a class="nav-link" href="categorias.html">
        <i class="fa fa-book"></i>
        <span>Administrar Categorias</span></a>
    </li>
-->

    <!-- Divider -->
<!--<hr class="sidebar-divider">-->    

    <!-- Heading -->
<!-- <div class="sidebar-heading">
      Promociones y Anuncios
    </div>
    <li class="nav-item">
      <a class="nav-link" href="listar-promoAnuncio.html">
        <i class="fa fa-book"></i>
        <span>Admin Promo/Anuncios</span></a>
    </li>
-->  
    <!-- Divider -->
    <!-- <hr class="sidebar-divider d-none d-md-block"> -->

    <!-- Sidebar Toggler (Sidebar) -->
    <!-- <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->

  
  <!-- End of Sidebar -->